/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400;1,700&display=swap');

$fondo: #593957;
$acento:    #E3477B;
$detalle:  #F0AABF;
$letras:  #FFDCEE;

$body-bg: $fondo;
$body-color: $letras;
$link-color: $acento;
$font-family-sans-serif: 'Livvic', sans-serif;
$presentation-heading-color: $letras;
$presentation-heading-font-weight: 700;
$presentation-h1-font-size: 2.4em;
$presentation-h2-font-size: 1.5em;
$code-color: $detalle;
$code-bg: rgba(255,255,255,0.1);
$presentation-font-size-root: 32px; // 40px;

/*-- scss:rules --*/

h1 {
  color: $letras !important;
}

p {
  color: $letras !important;
}

strong {
  color: $acento !important;
}

a {
  text-decoration: underline !important;
}

// titulos
h1, h2 {
  border-bottom: 8px solid $acento;
  padding-bottom: 0.2em !important;
  margin-bottom: 0.7em !important;
}

h3 {
  margin-top: 0.8em !important;
}

h4 {
  margin-top: 0.8em !important;
}

.code-copy-outer-scaffold {
  margin-bottom: .7em !important;
}

/*
// listas
.reveal ul {
  list-style: none;
  padding-left: 0;
}

.reveal ul li {
  display: flex;
  align-items: flex-start;
}

.reveal ul li::before {
  content: '●';
  color: $acento;
  font-weight: bold;
  flex-shrink: 0;
  width: 1.2em;
}
*/

// pie de página
.reveal .footer > * {
  color: $detalle !important;
}



.reveal hr {
  border-color: $acento;
  opacity: 0.5;
}


code {
  color: $detalle !important;
  background-color: #4e324c !important;
}

.reveal pre code {
  border-radius: 4px;
  background-color: #4e324c;
  padding: 28px;
}

.reveal div.sourceCode {
  border: none;
  border-radius: 4px;
}

code span.co {
  color: #785a77 !important;
}

.rosa {
  color: $acento;
}

.destacado {
  background-color: $acento !important;
  color: $fondo !important;
  
  strong {
    color: $letras !important;
  }
  /*
  ul li::before {
    color: $letras !important;
  }
  */
  
  a {
  color: $letras !important;
}
}

.centrar {
  text-align: center; 
  padding-top: 1em;
}

// espacio superior para imagen arcoiris en diapositiva de título
.reveal .slides section.title-slide {
  padding-top: 17%;
  box-sizing: border-box;
}